<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--初始化信息-->
    <add key="okIndentifier" value=""/><!--oking唯一标识符-->
    <!--打印报告设置-->
    <add key="ReportTemplate" value="1"/><!--报告格式选择-->
    <add key="ReportTitle" value="心电图报告单"/>   
    <add key="Grid5mmColor" value="-1011825"/>
    <add key="Grid1mmColor" value="-8224"/>
    <add key="Grid5mmPoint" value="false"/>
    <add key="Grid1mmPoint" value="false"/>
    <add key="WaveThickness" value="0.25"/>
    <add key="Grid5mmThickness" value="0.25"/>
    <add key="Grid1mmThickness" value="0.25"/>
    <!--采样绘图颜色-->
    <add key="PreSamplingDuration" value="0"/><!--提前存储时长-->
    <add key="SamplingDuration" value="10"/>
    <add key="SamplingPreviewColor" value="-16777216"/>
    <add key="SamplingSaveColor" value="-16744384"/>
    <add key="HighpassFilter" value="0.1"/>
    <add key="LowpassFilter" value="45"/>
    <add key="HighpassFilterChecked" value="true"/>
    <add key="LowpassFilterChecked" value="true"/>
    <add key="NotchFilterChecked" value="true"/>
    <!---->
    <!--设备信息-->
    <add key="DeviceType" value="Demo"/>
    <add key="DeviceCOM" value="COM3"/>
    <!--传输信息-->
    <add key="RecvIPAddr" value="192.168.1.102"/>
    <add key="RecvPortNo" value="1200"/>
    <add key="SendFromIPAddr" value="192.168.0.102"/>
    <add key="SendToIPAddr" value="127.0.0.1"/>
    <add key="SendPortNo" value="1200"/>

  </appSettings>
  <connectionStrings>
    <add name="sqlitedb" connectionString="Data Source = ecgdb.db3" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>
</configuration>